body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yellow{
    background-color: rgb(244, 165, 63);
}

.red{
    background-color: rgb(213, 66, 161);
}

.purple{
    background-color: rgb(95, 169, 238);
}

.green{
    background-color: rgb(28, 209, 194);
}

.flash{
    background-color: white;
}

.greenflash{
    background-color: green;
}